
body {
    background: #DDF3F8;
}

#landing {
  padding: 10%;
  background: #DDF3F8;
  background-size: 100% 100%;
  font-family: 'Trebuchet MS', sans-serif;
}

.navbar {
    background: #BFDCE0;
}

.centered-padding-div {
  padding: 10%;
  background: none !important;
  background-size: 100% 100%;
  font-family: 'Trebuchet MS', sans-serif;
}

.btn-primary {
    border-radius: 0.3rem !important;
    background-color: #FFBF3E;
    border-width: 0.1rem;
    border-color: transparent;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #1F2838 !important;
    box-shadow: none !important;
    border-color: rgb(115, 127, 95) !important;
}

.section .row {
    margin-top: 7%;
    margin-bottom: 10%;
}

.section .row .col-md-6 {
    margin-right: -2%;
    padding: 5%;
}

.section p {
    margin-top: 10%;
    color: #545b62;
}

.section img {
    width: 100%;
}

.div-rounded {
    border-radius: 0.3rem !important;
}
.card {
    background-color: transparent;
    border-color: transparent;
}

.table thead tr, .table th, .table td{
    border: none !important
}

.home-phone-number {
    padding: 80px 0;
}

.home-phone-number .single {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

.home-phone-number .single h2 {
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.home-phone-number .single .form-control {
    height: 50px;
    background: rgba(255, 255, 255, 0.6);
    border-color: transparent;
    border-radius: 20px 0 0 20px;
}

.home-phone-number .single .form-control:focus {
    box-shadow: none;
    border-color: rgb(115, 127, 95);
}

.home-phone-number .single .btn {
    min-height: 50px; 
    border-radius: 0 20px 20px 0;
    color: #fff;
}

.light-darken {
    background-color: rgba(0, 0, 0, 0.2)
}

.light-list {
    padding-left: 1.25rem;
    margin-top: 4%;
    color: #545b62;
}

.inside-light-list {
    padding-left: 1.25rem;
    color: #545b62;
}