ul[class],
ol[class] {
    padding: 0;
}
li {
    list-style: none;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    overflow-x: hidden;
    position: relative;
}
ul[class],
ol[class] {
    list-style: none;
}
a:not([class]) {
    text-decoration-skip-ink: auto;
}
input,
button,
textarea,
select,
label {
    font: inherit;
    outline: none;
}
.wrapper {
    max-width: calc(1546px + 30px + 30px);
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}
.form-free input, .__select {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #292929;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 16px;
    padding: 10px 0 10px 10px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #292929;
}
.top_screen__number {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 8px;
    border: 4px solid;
}
.center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}
.paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}
.sub_title {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    width: 65%;
    margin: 34px auto 0;
    text-align: justify;
}
.uppercase {
    text-transform: uppercase;
}
/*===================================================================TEXT==========================================*/

/*===================================================================TEXT BACKGROUND==========================================*/
.owu_web {
    width: 420px;
    line-height: 150px;
    position: absolute;
    font-size: 150px;
    font-weight: 900;
    text-transform: uppercase;
    color: #EDF4FB;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #E6EDF3;
}
.choice-your-way {
    position: absolute;
    font-size: 96px;
    font-weight: 900;
    text-transform: uppercase;
    color: #E6EDF3;
    line-height: 96px;
}
.front_text, .back_text, .owu {
    position: absolute;
    font-weight: 900;
    font-size: 144px;
    text-transform: uppercase;
}
.recording_bg__text {
    font-weight: 900;
    font-size: 120px;
    text-transform: uppercase;
    position: absolute;
}
.fullstack_bg__text {
    position: absolute;
    font-size: 222px;
    font-weight: 900;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.2);
    color: transparent;
}
/*===================================================================TEXT BACKGROUND==========================================*/

/*===================================================================HEADINGS==========================================*/
.h1_heading {
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
}
.h2_heading {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 36px;
}
.h3_heading {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 26px;
}
/*===================================================================HEADINGS==========================================*/

/*===================================================================COLORS==========================================*/
.blue {
    color: #3298f2;
}
.orange {
    color: #ff9638;
}
.yellow {
    color: #FFD43D;
}
.white {
    color: #ffffff;
}
.black {
    color: #000000;
}
.green {
    color: #72CC37;
}
/*===================================================================COLORS==========================================*/

/*===================================================================BACKGROUND COLORS==========================================*/
.bg_blue {
    background-color: #3298f2;
}
.bg_orange {
    background-color: #ff9638;
}
.bg_yellow {
    background-color: #FFD43D;
}
.bg_white {
    background-color: #ffffff;
}
.bg_black {
    background-color: #282828;
}
.bg_light {
    background-color: #EDF4FB;
}
/*===================================================================BACKGROUND COLORS==========================================*/

/*===================================================================BORDER COLORS==========================================*/
.border_blue {
    color: #3298f2;
}

.border_orange {
    color: #ff9638;
}

.border_yellow {
    color: #FFD43D;
}

.border_white {
    color: #ffffff;
}
/*===================================================================BORDER COLORS==========================================*/

/*===================================================================DISPLAY==========================================*/
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column {
    flex-direction: column;
}
/*===================================================================DISPLAY==========================================*/

/*===================================================================NUMBER==========================================*/
.before_01::before {
    content: '01';
}
.before_02::before {
    content: '02';
}
.before_03::before {
    content: '03';
}
.before_04::before {
    content: '04';
}
.before_05::before {
    content: '05';
}
.before_06::before {
    content: '06';
}
/*===================================================================NUMBER==========================================*/

/*===================================================================BUTTON==========================================*/
.button {
    position: relative;
    border-radius: 5px;
    height: 60px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    transition: .3s;
    overflow: hidden;
    min-width: 250px;
    max-width: 400px;
    cursor: pointer;
    border: none;
}
/*===================================================================BUTTON==========================================*/

/*===================================================================PLAY BUTTON==========================================*/
.play_button__content {
    position: absolute;
}
.play_button__wrap {
    position: relative;
    width: 70px;
    height: 70px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
}
.layer_button {
    width: 80%;
    height: 80%;
    border: 1px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}
.play_button {
    width: 90%;
    height: 90%;
    background: #ffffff;
    border-radius: 50%;
}
.play_button i {
    color: #3298F2;
    font-size: 18px;
    z-index: 5;
}
.play_button::before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80%;
    height: 80%;
    background: #ffffff;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}
@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}
/*===================================================================PLAY BUTTON==========================================*/

/*===================================================================SLIDE DOTS==========================================*/
.slide_dots .splide__pagination__page {
    width: 20px;
    height: 20px;
}
.slide_dots .splide__pagination__page.is-active {
    transform: scale(1);
}
.slide_dots .splide__pagination {
    display: flex;
    column-gap: 10px;
}
/*===================================================================SLIDE DOTS==========================================*/
/*===================================================================MARGIN==========================================*/
.mt-25 {
    margin-top: 25px;
}
.mt-50 {
    margin-top: 50px;
}
/*===================================================================MARGIN==========================================*/

/*===================================================================PROGRAM==========================================*/
.list_program {
    width: 100%;
}
.tabs_program {
    list-style: none;
    position: relative;
    text-align: left;
    margin-left: 100px;
}
.tabs_program li {
    display: block;
}
.tabs_program input[type="radio"] {
    position: absolute;
    /* top: 0; */
    left: -9999px;
}
.tabs_program [id^="tab"]:checked + label {
    top: 0;
    color: #3298f2;
}
.tabs_program label {
    width: 30%;
    display: block;
    padding: 14px 21px;
    border-radius: 2px 2px 0 0;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.tabs_program [id^="tab"]:checked + label::before, .tabs_program label:hover::before, .tabs_program label:hover {
    color: #3298f2;
}
.tabs_program label::before {
    content: '01';
    display: block;
    position: absolute;
    left: -15px;
    font-weight: 900;
    font-size: 21px;
    line-height: 26px;
    transform: rotate(-90deg);
    color: #C4C4C4;
}
.tabs_program li:nth-child(2) label::before {
    content: '02';
}
.tabs_program li:nth-child(3) label::before {
    content: '03';
}
.tabs_program li:nth-child(4) label::before {
    content: '04';
}
.tabs_program li:nth-child(5) label::before {
    content: '05';
}
.tabs_program li:nth-child(6) label::before {
    content: '06';
}
.tabs_program li:nth-child(7) label::before {
    content: '07';
}
.tabs_program li:nth-child(8) label::before {
    content: '08';
}
.tabs_program li:nth-child(9) label::before {
    content: '09';
}
.tabs_program li:nth-child(10) label::before {
    content: '10';
}
.tabs_program li:nth-child(11) label::before {
    content: '11';
}
.tabs_program li:nth-child(12) label::before {
    content: '12';
}
.tabs_program li:nth-child(13) label::before {
    content: '13';
}
.tabs_program li:nth-child(14) label::before {
    content: '14';
}
.tabs_program li:nth-child(15) label::before {
    content: '15';
}
.tabs_program li:nth-child(16) label::before {
    content: '16';
}
.tabs_program li:nth-child(17) label::before {
    content: '17';
}
.tabs_program li:nth-child(18) label::before {
    content: '18';
}
.tabs_program li:nth-child(19) label::before {
    content: '19';
}
.tabs_program li:nth-child(20) label::before {
    content: '20';
}
.tabs_program [id^="tab"]:checked ~ [id^="tab-content"] {
    display: block;
}
.tabs_program .tab-content {
    z-index: 2;
    display: none;
    overflow: hidden;
    width: 65%;
    font-size: 17px;
    line-height: 25px;
    padding: 0 25px;
    position: absolute;
    top: 0;
    right: 0;
}
.list-content {
    border: 1px solid #A7A7A7;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .5s;
}
.list-content-title {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
    transition: .5s;
}
@media screen and (max-width: 992px) {
    .tabs_program .tab-content {
        display: none !important;
    }
    .tabs_program [id^="tab"]:checked + label {
        color: #fff;
    }
    .tabs_program label::before, .tabs_program [id^="tab"]:checked + label::before, .tabs_program label:hover::before, .tabs_program label:hover {
        color: #ADD6FA;
    }
    .tabs_program label {
        width: 100%;
        padding: 14px 50px;
    }
    .tabs_program li {
        border: 1px solid #000000;
        margin-bottom: 15px;
    }
    .tabs_program label::before {
        left: 15px;
    }
}
@media screen and (max-width: 480px) {
}
/*===================================================================PROGRAM==========================================*/
.parallax-blue {
    position: relative;
    text-align: center;
    background: url(../image/parallax/Bgblue2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 70px;
    padding-bottom: 90px;
}
#owu {
    padding: 30px 0;
}
.owu_grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
}
.owu_grid__column {
    display: grid;
    grid-row-gap: 40px;
}
.owu_item {
    min-height: 145px;
}
.owu_item__title {
    display: flex;
    align-items: center;
    min-height: 50px;
    margin-bottom: 15px;
    flex-wrap: wrap;
    /*column-gap: 20px;*/
    padding-left: 105px;
    position: relative;
}
.owu_item__title::before {
    font-weight: 900;
    font-size: 72px;
    line-height: 26px;
    color: #FF9638;
    position: absolute;
    left: 0;
}
.flare::before {
    content: '';
    position: absolute;
    top: 0;
    left: -200px;
    width: 50px;
    height: 100%;
    background-color: #ffffff;
    filter: blur(15px);
    transform: skewX(
            -30deg
    );
    animation: flare-line 3s infinite linear;
}
@keyframes flare-line {
    from {
        left: -200px;
    }
    to {
        left: calc(100% + 150px);
    }
}
#my-way {
    position: relative;
    background: #EDF4FB;
    padding-top: 81px;
    padding-bottom: 141px;
}
.my-way_grid {
    display: grid;
    grid-template-columns: repeat(2, 30%);
    justify-content: space-around;
    margin-top: 50px;
}
.my-way_item {
    position: relative;
    z-index: 5;
    background: #FFFFFF;
    border-radius: 20px;
    transition: .3s;
    border: 1px solid #EDF4FB;
    height: 100%;
    padding: 59px 22px 27px;
    display: flex;
    flex-direction: column;
    row-gap: 27px;
}
.my-way_item__header {
    position: absolute;
    width: 165px;
    background: #FFFFFF;
    border: 1px solid #9DC6EA;
    box-sizing: border-box;
    border-radius: 6px;
    text-align: center;
    padding: 10px;
    top: -23px;
    left: 50%;
    margin-left: -82.5px;
}
a.course_item {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    text-decoration: none;
    color: #000000;
    grid-column-gap: 15px;
    border-radius: 10px;
    padding: 10px;
    transition: .5s;
}
a.course_item:hover {
    background: #EDF4FB;
}
.course_item__title {
    font-weight: bold;
    line-height: 21px;
}
.course_item__title span {
    display: block;
}
#my-way .owu_web {
    bottom: 0;
}
#my-way .choice-your-way {
    width: 370px;
    right: 0;
    top: 0;
}
#directions {
    background: #292929;
    padding-top: 39px;
    padding-bottom: 50px;
}
.directions_wrap__item {
    max-width: 30%;
    width: 430px;
}
.directions_wrap__item:hover .directions_item, .directions_wrap__item:hover .directions_button {
    border-color: #FF9638;
}
.directions_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #212121;
    border: solid #454545;
    border-width: 1px 1px 0 1px;
    box-sizing: border-box;
    border-radius: 20px 20px 0 0;
    padding-top: 25px;
    padding-bottom: 28px;
    transition: .3s;
}
.directions_item__title {
    font-weight: bold;
    line-height: 20px;
}
.directions_item__title span {
    display: block;
}
.directions_item .course-type {
    font-weight: bold;
    margin-top: 7px;
    margin-bottom: 15px;
}
.directions_item__description {
    font-weight: 500;
    line-height: 26px;
    margin-top: 26px;
    margin-bottom: 49px;
}
.directions_item__counter {
    font-weight: bold;
    font-size: 14px;
}
.directions_button {
    font-weight: bold;
    font-size: 12px;
    line-height: 21px;
    border: 1px solid #454545;
    box-sizing: border-box;
    border-radius: 0 0 20px 20px;
    transition: .3s;
    cursor: pointer;
    height: 47px;
    text-decoration: none;
}
.directions_button:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #ff9638;
}
.directions_slider .splide__list {
    display: flex;
}
.directions_slider .splide {
    visibility: inherit;
}
.directions_slider .splide__arrow--prev {
    left: -15px;
    background-color: #72CC37;
}
.directions_slider .splide__arrow--next {
    right: -15px;
    background-color: #72CC37;
}
.directions_slider {
    margin-top: 50px;
}
#pro-developer {
    position: relative;
    padding-top: 79px;
}
.pro-developer_grid {
    display: grid;
    grid-template-columns: 500px 650px;
    grid-column-gap: 150px;
    margin-top: 50px;
}
.pro-developer_image {
    position: relative;
}
.pro-developer_text {
    margin-top: 55px;
    padding: 30px;
    position: relative;
    height: fit-content;
}
.angle-orange, .angle-blue {
    position: absolute;
}
.angle-blue {
    top: 0;
    left: 0;
}
.angle-orange {
    right: 0;
    bottom: 0;
}
.pro-developer_logo {
    position: absolute;
    right: 0;
    height: 400px;
    bottom: 50px;
}
#index .block {
    padding: 80px 0 30px 150px;
}
#index .block_grid {
    /*max-width: 800px;*/
    max-width: 800px;
}
.index_block_grid__text {
    margin-top: 34px;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
}
#index-form {
    position: relative;
    background: #EDF4FB;
    padding-top: 83px;
    padding-bottom: 44px;
}
#index-form img {
    position: relative;
    z-index: 1;
}
.index-form_grid {
    display: grid;
    grid-template-columns: minmax(350px, 500px)  minmax(350px, 500px);
    justify-content: space-around;
}
.form_button__block {
    margin-top: 50px;
}
.index-form_grid .choice-your-way {
    width: 745px;
    bottom: 0;
    left: 0;
}
#course-contains {
    padding: 30px 0 50px;
}
.course-contains_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
}

.course-contains__icon {
    width: 75px;
    height: 75px;
    background: url(../image/svg/Yes.svg) no-repeat 100%;
    background-size: contain;
}

.course-contains_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

#front-back {
    padding: 40px 0 90px;
    position: relative;
    background-image: url(../image/bw.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#front-back .front_text {
    color: #E6EDF3;
    transform: rotate(-90deg);
    bottom: 220px;
    left: -10%;
}

#front-back .back_text {
    bottom: -16px;
    right: 0;
    color: #212121;
}

.front-back_grid {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-between;
}

.front-back_text {
    position: relative;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    padding: 20px;
    text-align: justify;
    margin-top: 15px;
}

.back_content .front-back_text {
    color: #ffffff;
}

.front-back_video {
    margin-top: 50px;
    position: relative;
}

.front-back_grid .play_button__content {
    flex-direction: column;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    bottom: -75px;
    left: 50%;
    margin-left: -70px;
}

.back_content .play_button__content {
    color: #ffffff;
    z-index: 2;
}

.front-back_grid .play_button__wrap {
    width: 100px;
    height: 100px;
}

.front_content .play_button__wrap, .front_content .layer_button {
    border-color: #000;
}

.front_content .play_button, .front_content .play_button::before {
    background-color: #000000;
}

.front_content .play_button i {
    color: #ffffff;
}

.back_content .play_button i {
    color: #000000;
}

#course-consists {
    background-color: #E6EDF3;
    padding: 40px 0;
}

.course-consists_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 250px));
    justify-content: space-between;
}

.course-consists__number {
    font-weight: 900;
    font-size: 56px;
    line-height: 98px;
    justify-content: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    position: relative;
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
}

.course-consists__number::before {
    content: '';
    width: 190px;
    height: 190px;
    border-bottom: 4px solid #3298F2;
    border-radius: 50%;
    border-left: 4px solid #3298F2;
    transition: 4s;
    position: absolute;
    left: 50%;
    margin-left: -95px;
    top: 50%;
    margin-top: -95px;
}

.course-consists__number::after {
    content: '';
    position: absolute;
    width: 170px;
    height: 170px;
    border-top: 4px solid #FF9638;
    border-radius: 50%;
    border-right: 4px solid #FF9638;
    transition: 4s;
    left: 50%;
    margin-left: -85px;
    top: 50%;
    margin-top: -85px;
}

.course-consists_text {
    font-weight: bold;
    font-size: 17px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
}

#program {
    padding: 30px 30px 200px;
    position: relative;
    overflow: hidden;
}

#react #program {
    padding-bottom: 40px;
}

.program_grid {
    display: grid;
    grid-template-columns: 356px 1fr;
    margin-top: 50px;
    grid-column-gap: 200px;
}

.program_hours {
    position: relative;
    z-index: 1;
}

.program_hours__counter {
    font-size: 120px;
    font-weight: 900;
    text-align: center;
    position: relative;
}

.program_hours__counter::before {
    content: '780';
    position: absolute;
    font-size: 200px;

    z-index: -1;
    -webkit-text-stroke-width: 2px;
}

#fullstack .program_hours__counter::before {
    left: -125px;
    top: -100px;
    -webkit-text-stroke-color: #ffffff;
    color: #282828;
}

#fullstack .program_hours__counter, #frontend .program_hours__counter {
    color: #3298f2;
}

#frontend .program_hours__counter::before {
    content: '600';
    -webkit-text-stroke-color: rgba(0, 0, 0, .2);
    color: transparent;
    top: -136px;
    left: -80px;
}

.program_hours__counter::after {
    content: "годин";
    position: absolute;
    font-size: 49px;
    left: 10%;
    font-weight: 900;
    text-transform: uppercase;
    -webkit-text-stroke-width: 2px;
    bottom: -36px;
}

#fullstack .program_hours__counter::after, #frontend .program_hours__counter::after {
    color: #282828;
    -webkit-text-stroke-color: #ff9638;
}

.program_hours__text {
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-transform: uppercase;
    margin-top: 50px;
}

#program .button {
    width: 400px;
    display: block;
    margin: 50px auto 0;
}

.no-event {
    display: none;
}

#week {
    padding: 40px 0;
}

.week_grid {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-column-gap: 3.33%;
    grid-row-gap: 60px;
    margin-top: 100px;
}

.week_item {
    position: relative;
    border: 2px solid #ADD6FA;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 70px 20px 20px;
}

.week_item__title {
    position: absolute;
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
    color: #FF9638;
    text-align: center;
    background: #ffffff;
    top: -10px;
    left: 30px;
    padding-left: 115px;
    padding-right: 10px;
}

.week_item__title::before {
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    border: 2px solid #ADD6FA;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    left: 0;
    top: -40px;
    background-size: 60px;
}


.week_item__description-title {
    display: none;
    position: relative;
    font-weight: 600;
    font-size: 18px;
    color: #3298F2;
    transition: all 1s;
    text-align: center;
}

.week_item__text {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    text-align: justify;
}

#week .owu {
    color: #EDF4FB;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}


.special-program_item:last-child::after {
    display: none;
}

#recording {
    position: relative;
    padding: 55px 0 4px 0;
    overflow: hidden;
}

.recording_grid {
    width: 60%;
}

.recording_text {
    font-weight: 600;
    margin-top: 34px;
    line-height: 26px;
}

#recording .recording_bg__text {
    right: 0;
    top: -25px;
    color: rgba(255, 255, 255, 0.4);
}


#java .owu_item__title::before {
    color: #3298f2;
}

#java .owu_item__title {
    color: #ff9638;
}

#java .program_hours__counter::before {
    content: '780';
    top: -150px;
    left: -72px;
    color: #282828;
    -webkit-text-stroke-color: rgba(0, 0, 0, .2);
}

#java .tabs_program [id^="tab"]:checked + label, #java .tabs_program [id^="tab"]:checked + label::before, #java .tabs_program label:hover::before, .tabs_program label:hover {
    color: #ff9638;
}

.java-complex-bg {
    font-size: 150px;
    font-weight: 900;
    text-transform: uppercase;
    position: absolute;
    line-height: 120px;
    bottom: -63px;
    color: rgba(0, 0, 0, 0.2);
}

.java-complex-bg span {
    display: block;
    color: #282828;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #313131;
}

#java .program_hours__counter::after {
    color: #282828;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #3298f2;
}

#java #reviews {
    background-color: #FFFFFF;
}

#java .week_item, #java .week_item__title::before {
    border-color: #72CC37;
}

#java .week_item__title {
    color: #72CC37;
}

#our-courses {
    padding: 30px 0;
    overflow: hidden;
}

.our-courses_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
}

.our-courses_list {
    font-weight: 500;
    line-height: 26px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.our-courses_img {
    position: relative;
}

.our-courses_list__item {
    position: relative;
}

.our-courses_list__item::before {
    content: '';
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #FFD43D;
    border-radius: 50%;
    left: -20px;
    margin-top: 10px;
}

#python #salary {
    background-color: #fff;
}

#python .salary_text {
    color: #292929;
}

#python .owu_item__title::before {
    color: #3298f2;
}

#python .owu_item__title {
    color: #FFD43D;
}

#python .owu_item__text {
    color: #ffffff;
}

#python .program_hours__counter::after {
    color: #292929;
}

#python #program {
    padding-bottom: 40px;
}

#python .tabs_program label, #python .list-content-title,
#react .tabs_program label, #react .list-content-title,
#angular .tabs_program label, #angular .list-content-title {
    color: #000000;
}

#python .tabs_program [id^="tab"]:checked + label,
#react .tabs_program [id^="tab"]:checked + label,
#angular .tabs_program [id^="tab"]:checked + label {
    color: #3298f2;
}

#python .program_hours__counter::before,
#react .program_hours__counter::before {
    content: '780';
    color: #fff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ff9638;
    top: -140px;
    left: -75px;
}

#python .program_hours__counter::after {
    -webkit-text-stroke-width: 0;
}

#python .special-program_grid {
    position: absolute;
    margin-top: 0;
    z-index: 1;
    grid-template-columns: repeat(4, 15%);
    left: 50%;
    transform: translateX(-50%);
    padding-top: 25px;
}

#python .special-program_item::after {
    display: none;
}

#python #partners {
    padding-top: 150px;
}

#python #special-program {
    padding-bottom: 80px;
}

#python .special-program_item__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #292929;
    margin-top: 10px;
}

#block {
    position: relative;
    padding-top: 46px;
    padding-bottom: 65px;
}

.block_grid {
    margin-top: 50px;
}

.block_grid__text {
    width: 70%;
    background-color: #3298F2;
    display: grid;
    grid-template-columns: 1fr .5fr;
}

.block_item {
    position: relative;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    color: #F2F2F2;
    padding: 20px;
}

.block_item:first-child::after {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 35px;
    transform: skewX(-30deg);
    background: #303030;
    top: 0;
    right: 8px;
}

#react-block {
    position: relative;
    padding-top: 40px;
    padding-bottom: 30px;
    background: #EDF4FB;
    overflow: hidden;
}

#react-block .sub_title, #react #partners .sub_title {
    width: 50%;
    position: relative;
    z-index: 1;
}

.react-block_bg {
    position: absolute;
    font-weight: 900;
    font-size: 144px;
    color: #E6EDF3;
    text-transform: uppercase;
}

#react .program_hours__counter::before {
    content: '40';
}

#react .program_hours__counter::after {
    color: #fff;
    -webkit-text-stroke-color: #282828;
}

.item-list-content-wrap-bg {
    position: absolute;
    right: -180px;
    font-weight: 900;
    font-size: 144px;
    text-transform: uppercase;
    color: #ffffff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #EDF4FB;
}

.item-list-owu {
    color: #ffffff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #EDF4FB;
}

.item-list-content-wrap-bg-text {
    color: #EDF4FB;
    margin-left: 122px;
}

.type-form{
    height: 710px;
}
