
.header{
    height: 60px;
    background-color: rgb(217, 151, 233);
    padding: 20px;
    text-align: center;
}

.left_col{
   width: 120px;
    height: 460px;
    background-color: rgb(241, 216, 184);
    padding: 15px;
    vertical-align: top;
}

.center_col{
    background-color: rgb(231, 143, 27);
    padding: 15px;
    vertical-align: top;
}

.right_col{
    width: 120px;
    background-color: rgb(241, 216, 184);
    padding: 15px;
    vertical-align: top;
}

.footer{
    width: 100%;
    padding: 10px 0 10px 20px;
    background-color: rgb(217, 151, 233);
    font-size: 13px;
}